.direction {
  color: #744c42;
  font-size: 24px;
  width: 525px;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 600px) {
  .direction {
    width: 80%;
    text-align: justify;
  }
}
