.controls-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.control-button {
    background: #f2d9d9;
    color: #744c42;
    border: 1px solid #775454;
    height: 50px;
    width: 250px;
    font-size: 24px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.control-button:hover{
    cursor: pointer;
    color: #ce6e56;
    background: #f2c1c1;
}

@media (max-width: 600px) {
    .controls-container {
     flex-direction: column;
     height: 140px;
     width: auto;
    }
  
  }
  